.todoItem {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	/* width: 300px; */
	gap: 10px;
	border: 0.5px solid hotpink;
	margin: 10px auto;
	border-radius: 5px;
	padding: 10px;
}

input [type="checkbox"] {
	border: 1px solid red;
	width: 10%;
}
